html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: dana;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row {
  --bs-gutter-x:0!important;
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src: url("fonts/eot/dana-thin.eot");
  src: url("fonts/eot/dana-thin.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-thin.woff2") format("woff2"), url("fonts/woff/dana-thin.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/eot/dana-extralight.eot");
  src: url("fonts/eot/dana-extralight.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-extralight.woff2") format("woff2"), url("fonts/woff/dana-extralight.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/eot/dana-light.eot");
  src: url("fonts/eot/dana-light.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-light.woff2") format("woff2"), url("fonts/woff/dana-light.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/eot/dana-medium.eot");
  src: url("fonts/eot/dana-medium.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-medium.woff2") format("woff2"), url("fonts/woff/dana-medium.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/eot/dana-demibold.eot");
  src: url("fonts/eot/dana-demibold.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-demibold.woff2") format("woff2"), url("fonts/woff/dana-demibold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 750;
  src: url("fonts/eot/dana-ultrabold.eot");
  src: url("fonts/eot/dana-ultrabold.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-ultrabold.woff2") format("woff2"), url("fonts/woff/dana-ultrabold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/eot/dana-extrabold.eot");
  src: url("fonts/eot/dana-extrabold.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-extrabold.woff2") format("woff2"), url("fonts/woff/dana-extrabold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/eot/dana-black.eot");
  src: url("fonts/eot/dana-black.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-black.woff2") format("woff2"), url("fonts/woff/dana-black.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/eot/dana-bold.eot");
  src: url("fonts/eot/dana-bold.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-bold.woff2") format("woff2"), url("fonts/woff/dana-bold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/eot/dana-regular.eot");
  src: url("fonts/eot/dana-regular.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-regular.woff2") format("woff2"), url("fonts/woff/dana-regular.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

/**
Iranic fonts	
**/
@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 10;
  src: url("fonts/eot/dana-thinitalic.eot");
  src: url("fonts/eot/dana-thinitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-thinitalic.woff2") format("woff2"), url("fonts/woff/dana-thinitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 200;
  src: url("fonts/eot/dana-extralightitalic.eot");
  src: url("fonts/eot/dana-extralightitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-extralightitalic.woff2") format("woff2"), url("fonts/woff/dana-extralightitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 300;
  src: url("fonts/eot/dana-lightitalic.eot");
  src: url("fonts/eot/dana-lightitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-lightitalic.woff2") format("woff2"), url("fonts/woff/dana-lightitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 500;
  src: url("fonts/eot/dana-mediumitalic.eot");
  src: url("fonts/eot/dana-mediumitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-mediumitalic.woff2") format("woff2"), url("fonts/woff/dana-mediumitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 600;
  src: url("fonts/eot/dana-demibolditalic.eot");
  src: url("fonts/eot/dana-demibolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-demibolditalic.woff2") format("woff2"), url("fonts/woff/dana-demibolditalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 750;
  src: url("fonts/eot/dana-ultrabolditalic.eot");
  src: url("fonts/eot/dana-ultrabolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-ultrabolditalic.woff2") format("woff2"), url("fonts/woff/dana-ultrabolditalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 800;
  src: url("fonts/eot/dana-extrabolditalic.eot");
  src: url("fonts/eot/dana-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-extrabolditalic.woff2") format("woff2"), url("fonts/woff/dana-extrabolditalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 900;
  src: url("fonts/eot/dana-blackitalic.eot");
  src: url("fonts/eot/dana-blackitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-blackitalic.woff2") format("woff2"), url("fonts/woff/dana-blackitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: bold;
  src: url("fonts/eot/dana-bolditalic.eot");
  src: url("fonts/eot/dana-bolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-bolditalic.woff2") format("woff2"), url("fonts/woff/dana-bolditalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/eot/dana-regularitalic.eot");
  src: url("fonts/eot/dana-regularitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-regularitalic.woff2") format("woff2"), url("fonts/woff/dana-regularitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

/* 
    ae Prefix Uses Because of Ali Esmaeili shortance. 
    This Project is for my bachelor final assignment
    Pr.Shabnam Asbaghi
*/
body {
  background: #d6d7f1;
  background-repeat: no-repeat;
}

.ae-full {
  height: 100vh;
}

.ae-bg {
  max-width: 85%;
  position: relative;
  height: 80vh;
  margin: auto;
  background: #d6d7f1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(51%, #d6d7f1), to(white));
  background: linear-gradient(0deg, #d6d7f1 51%, white 100%);
  border-radius: 25px;
  background-repeat: no-repeat;
}

.ae-bg .ae-fullside {
  width: 20%;
  right: -4em;
}

.ae-bg .ae-fullside .ae-sidebar {
  height: 70vh;
  background-color: #161C21;
  width: 100%;
  color: #fff;
  border-radius: 25px;
}

.ae-bg .ae-fullside .ae-sidebar h1.ae-sidelogo {
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
}

.ae-bg .ae-fullside .ae-sidebar a.btn {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ae-bg .ae-fullside .ae-sidebar a.btn i {
  font-size: 18px;
}

.ae-bg .ae-fullside .ae-sidebar a.btn span {
  width: 100px;
  text-align: right;
  margin-right: 5px;
}

.dashboard a.btn.ae-menu-dashboard,
.products a.btn.ae-menu-products,
.orders a.btn.ae-menu-orders,
.users a.btn.ae-menu-users,
.ticket a.btn.ae-menu-ticket,
.logout a.btn.ae-menu-logout {
  background: #fff;
  color: #000;
}
/*# sourceMappingURL=style.css.map */