<div class="ae-fullside position-absolute d-none d-lg-block">
    <div class="ae-sidebar ">
        <h1 class="ae-sidelogo py-3">پروژه پایانی علی اسمعیلی<br>استاد شبنم اسبقی</h1>
        <a href="/usercp/" class="btn btn-outline-light ae-menu-dashboard my-2 w-50"><i class="las la-tachometer-alt"></i> <span>داشبورد</span></a>
        <a href="/usercp/orders/" class="btn btn-outline-light ae-menu-orders my-2 w-50"><i class="lab la-opencart"></i> <span>سفارشات</span></a>
        <a href="/usercp/tickets/" class="btn btn-outline-light ae-menu-ticket my-2 w-50"><i class="las la-sms"></i>
            <span>پشتیبانی</span></a>
        <a href="/logout" class="btn btn-outline-light ae-menu-logout my-2 w-50"><i class="las la-power-off"></i>
            <span>خروج</span></a>
    </div>
</div>
<style>
.ae-mobile-side{
    top:0;

}
</style>
<div class="ae-mobile-side w-100 d-flex d-lg-none">
    <div class="d-flex flex-md-row flex-column bg-dark rounded w-100">
            <h1 class="ae-sidelogo p-3 text-light">پروژه پایانی علی اسمعیلی<br>استاد شبنم اسبقی</h1>
            <a href="/usercp/" class="btn btn-outline-light ae-menu-dashboard m-2"><i class="las la-tachometer-alt"></i> <span>داشبورد</span></a>
            <a href="/usercp/orders/" class="btn btn-outline-light ae-menu-orders m-2"><i class="lab la-opencart"></i> <span>سفارشات</span></a>
            <a href="/usercp/tickets/" class="btn btn-outline-light ae-menu-ticket m-2"><i class="las la-sms"></i>
                <span>پشتیبانی</span></a>
            <a href="/logout" class="btn btn-outline-light ae-menu-logout m-2"><i class="las la-power-off"></i>
                <span>خروج</span></a>
        </div>
</div>