<div class="ae-fullside position-absolute">
    <div class="ae-sidebar">
        <h1 class="ae-sidelogo py-3">پروژه پایانی علی اسمعیلی<br>استاد شبنم اسبقی</h1>
        <a href="/administrator/" class="btn btn-outline-light ae-menu-dashboard my-2 w-50"><i class="las la-tachometer-alt"></i> <span>داشبورد</span></a>
        <a href="/administrator/products/" class="btn btn-outline-light ae-menu-products my-2 w-50"><i class="las la-suitcase"></i> <span>محصولات</span></a>
        <a href="#" class="btn btn-outline-light ae-menu-orders my-2 w-50"><i class="lab la-opencart"></i> <span>سفارشات</span></a>
        <a href="#" class="btn btn-outline-light ae-menu-users my-2 w-50"><i class="las la-user-friends"></i> <span>کاربران</span></a>
        <a href="#" class="btn btn-outline-light ae-menu-ticket my-2 w-50"><i class="las la-sms"></i>
            <span>تیکت‌ها</span></a>
        <a href="/logout" class="btn btn-outline-light ae-menu-logout my-2 w-50"><i class="las la-power-off"></i>
            <span>خروج</span></a>
    </div>
</div>